.idea
*.iml
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

**/*.log
**/*~
**/*.md.html
.DS_Store
*.swp
local
.dbeaver*
.directory
venv/
target
.cache
.project
.classpath
.settings/org.eclipse.core.resources.prefs
~*
*.lock
*.bak
*.orig
*.old
*.md.html
*.flattened-pom.xml